@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #fff5f5; /* Light romantic tint */
}

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}